@font-face {
    font-family: "Mytupi";
    src: url("/fonts/Mytupi.ttf.woff") format("woff"),
        url("/fonts/Mytupi.ttf.svg") format("svg"), url("/fonts/Mytupi.ttf.eot"),
        url("Mytupi-Ultra-condensed-ExtraBold.ttf.eot?#iefix")
            format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}
.container {
    margin-left: 200px;
    margin-right: 200px;
}
body {
    background-color: black;
}
.logo_text {
    color: rgb(255, 255, 255);
    font-family: "Mytupi", serif;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
}
.header {
    height: 20px;
}
.logo_link {
    text-decoration: none;
}
.header-txt {
    color: white;
    text-transform: uppercase;
    font-family: "Mytupi", serif;
}
.headr {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.start {
    position: relative;
    height: 1080px;
}
.img_manyme {
    width: 330px;
    height: 390px;
    position: absolute;
    right: 670px;
    top: 492px;
}
.img_main {
    width: 512px;
    height: 512px;
    position: absolute;
    right: 301px;
    top: 175px;
}
.start_paragraph {
    color: white;
    font-family: adobe-caslon-pro, serif;
    font-size: 35px;
    position: absolute;
    width: 857px;
    left: 227px;
    top: 173px;;
}
.projects {
    background-color: blue;
    height: 1080px;
}
h1 {
    color: white;
    font-family: "Mytupi", serif;
    font-size: 56px;
    margin-top: 230px;
    margin-left: 420px;
}
.project_tab {
    margin: 57px;
    padding: 22px;
    height: 357px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 15px;

}
.tab-image {
  padding: 15px;
}
.project_tabs {
    display: flex;
}
.corona_tab {
    padding: 22px;
}
.coronaapp_tab {
    margin: 64px;
    padding: 16px;
    height: 385px;
    width: 241px;
    display: flex;
    border: 2px solid white;
    border-radius: 15px;
}
.delivery_tab {
    margin-top: -52px;
    padding: 23px;
    height: 363px;
    width: 532px;
}
.carrot_tab {
    margin-top: -33px;
    padding: 23px;
    height: 365px;
    width: 373px;
}
.paylexi_tab {
    margin-top: -33px;
    padding: 23px;
    height: 365px;
    width: 401px;
}
span {
    color: white;
    font-family: "Mytupi", serif;
    font-size: 25px;
}
.contact_heading {
    margin-top: 2px;
}
.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name_input {
    background-color: rgb(255, 255, 255);
    border: 0;
    font-family: "Mytupi", serif;
    font-size: 15px;
    margin-bottom: 30px;
}
.notes_input {
    background-color: rgb(255, 255, 255);
    border: 0;
    font-family: "Mytupi", serif;
    font-size: 15px;
    margin-bottom: 30px;
}
.contact-form_submit {
    height: 59px;
    width: 187px;
}
.contact_tab {
    background-color: white;
    width: 200px;
    height: 80px;
    display: flex;
}
.contact_img {
    height: 20px;
    width: 20px;
}